Torneo/Web References/servicioTemperatura/TempServ.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://temperaturaTest.com.uy/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://temperaturaTest.com.uy/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://temperaturaTest.com.uy/">
      <s:element name="darTemperatura">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ciudad" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="darTemperaturaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="darTemperaturaResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="darTemperaturaSoapIn">
    <wsdl:part name="parameters" element="tns:darTemperatura" />
  </wsdl:message>
  <wsdl:message name="darTemperaturaSoapOut">
    <wsdl:part name="parameters" element="tns:darTemperaturaResponse" />
  </wsdl:message>
  <wsdl:portType name="TempServSoap">
    <wsdl:operation name="darTemperatura">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Servicio para dar la temperatura de una ciudad</wsdl:documentation>
      <wsdl:input message="tns:darTemperaturaSoapIn" />
      <wsdl:output message="tns:darTemperaturaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TempServSoap" type="tns:TempServSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="darTemperatura">
      <soap:operation soapAction="http://temperaturaTest.com.uy/darTemperatura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TempServSoap12" type="tns:TempServSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="darTemperatura">
      <soap12:operation soapAction="http://temperaturaTest.com.uy/darTemperatura" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TempServ">
    <wsdl:port name="TempServSoap" binding="tns:TempServSoap">
      <soap:address location="http://localhost:58599/TempServ.asmx" />
    </wsdl:port>
    <wsdl:port name="TempServSoap12" binding="tns:TempServSoap12">
      <soap12:address location="http://localhost:58599/TempServ.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>